* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
body {
  background: url(./img.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 16px;
  /* border: 5px solid black; */
}
.heading {
  text-align: center;
  margin-bottom: 4em;
}
.heading h1 {
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  font-size: 6.2em;
  font-weight: 800;
}
.heading h3 {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  padding: 8px 30px;
  display: inline-block;
}
.countdown {
  width: 95vw;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.box {
  width: 40vmin;
  height: 40vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
span.num {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 4em;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 0.1em;
}
span.num:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.05);
  height: 100%;
  width: 50%;
  left: 0;
}
span.text {
  font-size: 1em;
  background-color: #ffffff;
  color: #202020;
  display: block;
  width: 80%;
  position: relative;
  text-align: center;
  bottom: 20px;
  padding: 0.7em 0;
  font-weight: 600;
  border-radius: 0.3em;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

span #day-box {
  background-color: black;
}
